<html>
<head>
	
</head>
<body>
	<br>
	<br> 

	<p align="center" style="font-weight: bold;">Refresh the Page to see the visualization</p>
<div class="page-header">
	<br>
	<h1 align="center" style="font-family:Times New Roman;color: #000099; font-weight: bold;font-size: 50px"> Hello {{ main.username }} </h1>
	<br>
	<a href="#!StackOverFlow"><h3 align="center">Click to open a Stack Overflow page</h3></a>
	
	<br>
	
  <div id="chartContainer" style="height: 370px; width: 100%;"></div>
</div>
<br>
<div >
	<div align="center">
	<h4 style="font-family:Times New Roman;"><b>Why did I decide to log these Actions:</b></h4>
    </div>
	<h5 style="font-family:Arial; color: 	#4B0082"><b>When a User refers a stack over flow page they observe what are the possible answers given by users. while going through the page the most common behaviors performed are:
	</b></h5>
	<ul>
		<li><p style="font-size: 20px; color: #191970"><b>UpVote and DownVote:</b> When a User reads a solution and find it to be a apt solution they tend to upvote it, similarly when they dont like the solution they downvote it. These feedbacks will be helpful for the rest of the users. </p></li>
		<li><p style="font-size: 20px; color:#191970"><b>Add a Comment:</b> A highly active stack over flow user if knows solution for a any particular question, tries to attempt it by adding a comment. </p></li>
		<li><p style="font-size: 20px; color:#191970"><b>Ask a Question:</b> A User who is unable to figure out a solution will ask a question on stack over flow website. This can be done by clicking on the Ask a question button.</p></li>
		<li><p style="font-size: 20px; color:#191970"><b>Related Question:</b> Stack overflow also displayes related questions on the lft side of the page. If a user find them intresting they can refer them. </p></li>

	</ul>
	<div align="center">
	<h4 style="font-family:Times New Roman;"><b>Analysis and Patterns</b></h4>
	</div>
	<ul>
		<li><p style="font-size: 20px; color: #191970">According to the visualization most of the users are giving feedback by clicking on upvote and downvote. 30% of all the user behavior actions are upvote and downvote.</p></li>
		<li><p style="font-size: 20px; color: #191970">All the users after exploring the page are preferring to navigate to related questions to seek further guidance. 60% of all behavior action is clicking on related Questions.</p></li>
		<li><p style="font-size: 20px; color: #191970">Only few users take an interest to actively participate in discussing a solution by posting comments. 10% of all the behavior actions is Add a Comment.</p></li>
	</ul>
	<div align="center">
	<h4 style="font-family:Times New Roman;"><b>Explaining the Patterns</b></h4>
	</div>
	<ul>
	<li><p style="font-size: 20px; color: #191970">According to the observations, most of the users prefer reading the solutions provided and look for a better solution by looking into more related questions.</p></li>
    </ul>
    <div align="center">
	<h4 style="font-family:Times New Roman;"><b>Steps to Finding the Results</b></h4>
	</div>
	<ul>
		<li>
			<p style="font-size: 20px; color: #191970">By observing the statistic around 60% of the users prefer Reading the solution and click on related Question. In the Pie chart, maximum area is covered by the user behavior "Related Questions", followed by "Up votes and Down Votes". The statistics are very important and give a clear proof of pattern in user behavioral interactions </p>
		</li>
	</ul>
	
    
</div>
</body>
<footer>
	<br>
	<br>
	<br>
  <p align="center" style="font-weight: bold;"> Refresh the Page to see the visualization</p>
</footer>
</html>